:root {
  --white:#fff;
  --black:#0c0d0f;
  --dark: #282c34;
  --light: #404258;
  --green: #98c379;
  --red:#ff1c0b;
  --gray:#808080;

  --border:1px solid #bebfc2;
  --linear:linear-gradient(90deg,#171923, #101114) padding-box, linear-gradient(90deg, #FFBE0B, #FF0075, #0076FF, #06D6A0) border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 320px;
  width: 370px;
  margin: 0;
  padding: 10px;
  font-size: 0.82rem;
  font-family: Inter, -system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  letter-spacing: 0.6px;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

footer {font-family: Consolas;}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {font-size: 1.6rem;}
h3 {font-size: 1.2rem;}
h1,h3 {word-break: break-all; margin-top: 0;}

button, input {
  background-color: var(--dark);
  color: var(--white);
  padding: 10px 20px; 
  border: var(--border);
  border-radius: 7px;
  outline: none;
}

button,label {
  display: flex;
  align-items: center;
}

button {  
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;  
  letter-spacing: 2px;
  transition: opacity .25s;
}

button:disabled,
button[disabled]{  
  background-color: var(--gray);
  color: var(--black);
}

button:hover {
  opacity: 0.8;
}

a {color: var(--white);}

ul {list-style: none; margin: 0; padding: 10px;}

small {color: var(--gray);}

hr {
  width: 100%;
  border-color: var(--white);
  margin: 8px 0;
}

pre { overflow: auto; max-height: 150px; padding: 10px; user-select: text;}
p { word-break: break-word;}

p,pre,a,button, input{font-size: 0.75rem;}

progress::-webkit-progress-bar {background-color: var(--green); width: 100%; border-radius: 7px;}
progress::-webkit-progress-value {background-color: var(--red) !important; border-radius: 7px;}
progress::-moz-progress-bar {background-color: var(--red) !important; border-radius: 7px;}
progress {background-color: var(--green); border-radius: 7px; color: var(--red);}

.box {
  max-height: 180px;
  font-family: 'Robot', 'Arial','Courier New', Courier, monospace;
  padding: 10px 15px;
  border-radius: 7px;
}

.tag {padding: 3px 5px; margin-right: 10px; margin-bottom: 5px; font-size: .65rem; background-color: var(--gray);}

/********************************************/
.position-relative {position: relative;}

.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}

.mb-1 {margin-bottom: 10px;}
.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}
.mt-1 {margin-top: 10px;}

.mt-3 {margin-top: 30px;}

.p-0{padding: 0;}
.p-1 {padding: 10px;}

.grid-2 {display: grid; grid-template-columns: 1fr 1fr; gap: 10px;}
.grid-2-1 {display: grid; grid-template-columns: 3fr 1fr; gap: 20px;}

.d-none {display: none;}
.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.align-center {align-items: center;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.truncate {
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.br7 {border-radius: 7px;}

.bordered {border: var(--border);}

.green{color: var(--green);}
.red{color: var(--red);}
.rose{color: var(--rose);}
.gray {color: var(--gray);}
.dark {color: var(--dark);}
.white {color: var(--white);}

.bg-dark {background-color: var(--dark); color: var(--white);}
.bg-green {background-color: var(--green);}
.bg-red {background-color: var(--red); color: var(--white);}

.overflow{overflow: auto;}

.wb {word-break: break-word;}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}
